@charset "UTF-8";
*{
	padding: 0;
	margin: 0;
}
ul li {
	list-style: none;
}
body{
	height: 100%;
}
.nav{
	background-color: black;
	/* border:1px solid #000000 ; */
	opacity: 0.4;
	height: 84px;
	text-align: center 0;
	
}
.itm{
	margin-right: 220px;
}
.itm1{
	margin-right: 220px;
}
.nav li{
float: right;
}
.nav p{
	padding-top: 30px;
}
.nav a{
	display: block;
	width: 84px;
	height: 84px;
	text-align: center;
	padding:  0 20px;
	text-decoration: none;
	font-size: 20px;
	font-family: 黑体;
	color: white;			
}
.nav a:hover{
	background-color: #595959;
}
.box{
	height: 177px;
	border-bottom: 1px solid #000000;
}
.box_1{
	width: 1200px;
	margin: 0 auto;
}
.box_1_itm{
	padding-top: 80px;
	padding-bottom: 18px;
	font-family: 黑体;
	font-size: 32px;
}
.box_1_itm1{
	color: #85000f;
	font-family: 黑体;
	font-size: 14px;
}
.box1{
	background:url(../img/tuijian1.jpg);
	background-repeat: no-repeat;
	margin: 0 auto;
	width: 1200px;
	height: 452px;
	overflow: hidden;
	
}
.box1_1_itm{
	font-size: 20px;
	float: left;
	padding-top: 148px;
	padding-left: 630px;
}
.box1_1_itm1{
	font-family:微软雅黑;
	
	font-weight: lighter;
	padding-top: 110px;
	float: right;
	padding-right: 56px;
	
}
.box1_1_itm2{
	color: #868586;
	font-family: 微软雅黑;
	font-size: 14px;
	padding-top: 214px;
	padding-left: 630px;
	display: block;
	width: 460px;
}
.box1_1_itm3{
	font-size: 30px;
	font-weight: lighter;
}
.box1_1_itm4{
	padding-left: 45px;
	font-size: 14px;
}
.box2{
	margin: 0 auto;
	width: 1200px;
	height: 240px;
	border-bottom: 1px solid black;
}
.box2_1 li{
	display: block;
	float: left;
	overflow: hidden;
}
.box2_2 li{
	display: block;
	float: right;
	overflow: hidden;
}
.box2_1_itm{
	padding-top: 62px;
	padding-left: 49px;
	width: 117px;
}
	
.box2_1_itm_1{
	font-size: 24px;
	font-family: 微软雅黑;
	font-weight: lighter;
}
.box2_1_itm_2{
	font-family: 微软雅黑;
	font-weight: lighter;
	padding-left: ;
}
.box2_1_itm1{
	font-size: 20px;
	padding-top: 44px;
	
}
.box2_2_itm{
	padding-top: 100px;
	padding-left: 55px;
	padding-right: 143px;
	width: 36px;
	height: 38px;
}
.box2_2_itm1{
	color: #868586;
	font-family: 微软雅黑;
	/* padding-right: 234px; */
	width: 446px;
	height: 42px;
	font-size: 14px;
}
.box3{
	padding-top: 70px;
	margin: 0 auto;
	width: 1200px;
	height: 240px;
	border-bottom: 1px solid black;
}
.box3_1 li{
	display: block;
	float: left;
	overflow: hidden;
}
.box3_2 li{
	display: block;
	float: right;
	overflow: hidden;
}
.box3_1_itm{
	padding-top: 62px;
	/* padding-left: 49px; */
	width: 117px;
}
	
.box3_1_itm_1{
	font-size: 24px;
	font-family: 微软雅黑;
	font-weight: lighter;
}
.box3_1_itm_2{
	font-family: 微软雅黑;
	font-weight: lighter;
	padding-left: ;
}
.box3_1_itm1{
	font-size: 20px;
	padding-top: 44px;
	
}
.box3_2_itm2{
	padding-top: 100px;
	padding-left: 55px;
	padding-right: 163px;
	width: 36px;
	height: 38px;
	/* overflow: hidden; */
}
.box3_2_itm{
	padding-right: 30px;
	
}
.box3_2_itm1{
	color: #868586;
	font-family: 微软雅黑;
	/* padding-right: 190px; */
	width: 446px;
	height: 42px;
	font-size: 14px;
}
.box4{
	padding-top: 70px;
	margin: 0 auto;
	width: 1200px;
	height: 240px;
	border-bottom: 1px solid black;
}
.box4_1 li{
	display: block;
	float: left;
	overflow: hidden;
}
.box4_2 li{
	display: block;
	float: right;
	overflow: hidden;
}
.box4_1_itm{
	padding-top: 62px;
	padding-left: 49px;
	width: 117px;
}
	
.box4_1_itm_1{
	font-size: 24px;
	font-family: 微软雅黑;
	font-weight: lighter;
}
.box4_1_itm_2{
	font-family: 微软雅黑;
	font-weight: lighter;
	padding-left: ;
}
.box4_1_itm1{
	font-size: 20px;
	padding-top: 44px;
	
}
.box4_2_itm{
	padding-top: 100px;
	padding-left: 55px;
	padding-right: 143px;
	width: 36px;
	height: 38px;
}
.box4_2_itm1{
	color: #868586;
	font-family: 微软雅黑;
	/* padding-right: 234px; */
	width: 446px;
	height: 42px;
	font-size: 14px;
}
.box5{
	padding-right: 140px;
	padding-top: 100px;
	float: right;
}
.box5_1{
	
	text-align: center;
	font-family: 微软雅黑;
	font-weight: lighter;
	font-size: 18px;
	margin-right: 20px;
	display: block;
	float: left;
	width: 25px;
	height: 25px;
	border: 1.5px solid black;
}
.box5_1 p{
	/* margin-top: 1px; */
}
.box5_1_itm{
	color: white;
	background: black;
}
.box5_1_itm1{
	margin-right: 36px;
	border: none;
}
.box5_1_itm2{
	/* padding-bottom: 5px; */
	/* font-size: 20px; */
}
.box5 a{
	text-decoration: none;
}
.box5_1_itm3{
	color: white;
	background: black;
}






